* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.activities {
    background-color: rgb(210, 211, 211);
    width: auto;
    
}

.activitiesTitle {
    margin-top: 30px;
    
}
.activitiesTable{
    margin-top: 90px
}

.activitiesButtons {
    margin-top: 48vh
}

@media only screen and (max-width:767px) {
    

    .activitiesTitle {
        margin-top: 30px; 
    }

    .activitiesButtons {
        margin-top: 34vh;
        margin-bottom: 10px;
    }
}