* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reserves {
    background-color: rgb(210, 211, 211);
    width: auto;
    height: auto;
}

.reservesTitle {
    margin-top: 40px;
    font-size: 40px;
}

.reservesTable {
    margin-top: 150px;
    width: 700px;
}

.reservesButtons {
    margin-top: 15vh;
}

@media only screen and (max-width:767px) {
    .reserves {
        margin-top: 2px;
    }

    .reservesTitle {
        margin-top: 10px;
        font-size: 30px;
    }

    .reservesTable {
        margin-top: 100px;
       width: auto;
        
    }

    .reservesButtons {
        margin-top: 9vh;
        margin-bottom: 10px;
    }

}