* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.files {
    background-color: rgb(210, 211, 211);
   
}

.filesTitle {
    margin-top: 30px;
    font-size: 40px;
    
}

.filesButtons {
    margin-top: 5vh;
    width: 100%;
}

@media only screen and (max-width:767px) {
    .files {
        margin-top: 2px;
    }

    .filesTitle {
        margin-top: 20px;
        font-size: 25px;
        
    }

    .filesButtons {
        margin-top: 19vh;
        margin-bottom: 10px;
    }

}